.wrapper {
  border: 2px solid;
  width: 64px;
  height: 64px;
  color: #4c4c4c;
  border-radius: 50px;
  position: relative;
  img {
    position: absolute;
  }
}

.logoF1 {
  left: 17.19%;
  right: 68.28%;
  top: 40.35%;
  bottom: 37.95%;
}
.logoF2 {
  left: 23.99%;
  right: 73.47%;
  top: 52.07%;
  bottom: 47.93%;
}
.logoW1 {
  left: 37.74%;
  right: 53.86%;
  top: 39.06%;
  bottom: 37.56%;
}
.logoW2 {
  left: 50.8%;
  right: 35.86%;
  top: 39.06%;
  bottom: 37.56%;
}
.logoT1 {
  left: 69.84%;
  right: 15.63%;
  top: 40.35%;
  bottom: 59.65%;
}
.logoT2 {
  left: 76.82%;
  right: 23.18%;
  top: 47.4%;
  bottom: 37.95%;
}
